.footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-center p{
    display: inline-block;
    vertical-align: middle;
    margin:0;
}

.footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}